<h1>
    {{title}}
</h1>

<ul class="nav nav-pills">

    <li role="presentation"><a routerLink="/alert">alert</a></li>
    <li role="presentation"><a routerLink="/accordion">accordion</a></li>
    <li role="presentation"><a routerLink="/button">button</a></li>
    <li role="presentation"><a routerLink="/carousel">carousel</a></li>
    <li role="presentation"><a routerLink="/collapse">collapse</a></li>
    <li role="presentation"><a routerLink="/dropdown">dropdown</a></li>
    <li role="presentation"><a routerLink="/modal">modal</a></li>
    <li role="presentation"><a routerLink="/progressbar">progressbar</a></li>
    <li role="presentation"><a routerLink="/rating">rating</a></li>
    <li role="presentation"><a routerLink="/tabs">tabs</a></li>
    <li role="presentation"><a routerLink="/tooltip">tooltip</a></li>
    <li role="presentation"><a routerLink="/typeahead">typeahead</a></li>
    <li role="presentation"><a routerLink="/datepicker">datepicker</a></li>
    <li role="presentation"><a routerLink="/timepicker">timepicker</a></li>
    <li role="presentation"><a routerLink="/pagination">pagination</a></li>
    <li role="presentation"><a routerLink="/grid">grid</a></li>
    <li role="presentation"><a routerLink="/fileupload">fileupload</a></li>
    <li role="presentation"><a routerLink="/googlemaps">googlemaps</a></li>

</ul>

<div style="height:5px;width:100%;background-color:#000000;margin-bottom:20px"></div>
<router-outlet></router-outlet>